.search-bar {
  margin: 20px;
  text-align: center;
}
.serch-bar input {
  width: 75%;
}
.video-item img {
  max-width: 64px;
}
.video-details .details {
  margin-top: 10px;
  padding: 10px;
  border: 3px solid #ddd;
  border-radius: 5px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover{
  background-color: #ddd;
}
h3{
  margin: 20px 0px;
  padding: 20px 0px;
  border-top: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
  border-radius: 5px;
  font-weight: 600;
}
input{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
}
.col-md4 .list-group{
  display: flex;
  justify-content: flex-end;
}

